<div style="text-align: center;">
  <div style="text-align:center; margin-top: 2%; color:green;" class="h1">Bienvenus</div>
  <img src="http://www.pudiccgb.somee.com/Imagenes/pudiccgb.svg" style="height:44%; width: 44%;">
</div>
<div class="container" style="margin-top:10%;">
  <img src="http://www.pudiccgb.somee.com/Imagenes/InicioPudicc.png" style="height:100%; width: 100%;">
</div>
<div class="container">
  <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Description de la commune de
    Cornillon/Grand-Bois</div>
  <p style="font-size:x-large; line-height: 140%; margin-top:2%; text-align: justify;">
    <b>Cornillon/Grand-Bois</b> est l’une des communes de l’arrondissemente de la Croixdes-Bouquets, située dans le
    département de l'Ouest. Elle est elevée au rang de
    commune á la fin du XIXe siècle. Cornillon/Grand-Bois se trouve à l'Est de Port-auPrince vers la République
    Dominicaine. Les bases économiques de la commune
    sont l’Agriculture, l’Élevage et le Commerce. L’absence d’infrastructure routière
    complique d’avantage les conditions de vie des habitants de Cornillon, qui ont des
    difficultés pour le transport de leurs produits ou à s’approvisionner sur d’autres
    marchés de la région métropolitaine de Port-au-Prince.
    Comme une zone frontalière, la dite commune reste abandonnée par l’État central,
    raison pour la quelle la relation commerciale avec la République Dominicaine
    demeure un calvaire, pas de route, meme la route en terre battue n’est pas
    transitable.
  </p>

  <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Delimitation de la commune</div>
  <p style="font-size:x-large; line-height: 140%; margin-top:2%;">
    La commune est constituée des sections communales telles que:

  </p>

  <ul type="disc" style="font-size:x-large;">
    <li>1re Plaine Céleste.</li>
    <li>2e Plaine Céleste.</li>
    <li>1re Boucan Bois Pin.</li>
    <li>2e Boucan Bois Pin.</li>
    <li>5e Génipailler.</li>
  </ul>
  <div style="display:flex;font-size:x-large; margin-top:4%;">
    <p style="line-height: 140%;">→</p>
    <p style="margin-left:0.7%; line-height: 140%; text-align: justify;">Le siège social de la Plateforme Union pour le Dévelopement Intégral
      de la
      Commune de Cornillon/Grand-Bois (PUDICCGB) est situé dans la 1ere Plaine
      Celeste/ localité Ca-Elie, Ruelle Cabaret # 22.</p>
  </div>

  <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Crises environnementales</div>

  <p style="font-size:x-large; line-height: 140%; margin-top:2%; text-align: justify;">
    Les catastrophes naturelles tels que cyclones, inondations et sécheresses continues
    constituent les principaux risques naturels que subisent la polpulation de Cornillon
    et qui touchent largement au niveau du secteur agricole et de l’élevage du betail.
    Les cyclones, en particulier ont des conséquences majeures en termes d’érosion et
    de pertes de vies humaines.
  </p>

  <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Cultures</div>
  <p style="font-size:x-large; line-height: 140%; margin-top:2%; text-align: justify;">

    Dans la commune de Cornillon les cultures sont d’ordre múltiples dûe á la liberté de
    religion. Le christianisme est la religion la plus dominante et d’autres citoyens
    maintiennent les rituels du vaudou et autres danses tipiques de la commune comme
    le kalabiyen, le gaga et le compas; actuellement un niveau rythme connu sous le
    nom de raboday.
  </p>
</div>

<div class="container text-center">
  <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Photo de l'environnement de Cornillon</div>
  
  <img src="http://www.pudiccgb.somee.com/Imagenes/2232b48e-e2ed-4046-93e2-36fa1415c1e9.jpg" style="margin-top:2%;">

  <div class="anexosPudiccImagenes">

    <img src="http://www.pudiccgb.somee.com/Imagenes/39f392eb-bf73-433b-b693-2926ca1311da.jpg">
    <img src="http://www.pudiccgb.somee.com/Imagenes/5cff4548-d4ae-4fc8-8217-1416ef233667.jpg">
    <img style="width:50%; height:50%;" src="http://www.pudiccgb.somee.com/Imagenes/1616949381432.jpg">
    <img style="width:50%;height:50%;" src="http://www.pudiccgb.somee.com/Imagenes/1616949381574.jpg">
    <br>
    <!-- <img src="http://www.pudiccgb.somee.com/Imagenes/1616949381746.jpg">
    <img src="http://www.pudiccgb.somee.com/Imagenes/1616949381909.jpg"> -->
    <img src="http://www.pudiccgb.somee.com/Imagenes/IMG-20201223-WA0003.jpg">
    <img src="http://www.pudiccgb.somee.com/Imagenes/IMG-20201223-WA0007.jpg">
    <img src="http://www.pudiccgb.somee.com/Imagenes/IMG-20210328-WA0036.jpg">
  </div>
  <!-- <div class="anexosPudiccVideos">
  <div>
    <video src="http://www.pudiccgb.somee.com/Imagenes/a28e1d74-a80f-483e-804d-f898222b6e57.mp4" controls width="50%" height="50%" style="transform: rotate(270deg);"></video>
  </div>
  <div>
    <video src="http://www.pudiccgb.somee.com/Imagenes/VID-20210704-WA0048.mp4" controls width="50%" height="50%"></video>
  </div>
  <div>
    <video src="http://www.pudiccgb.somee.com/Imagenes/VID-20210704-WA0125.mp4" controls width="50%" height="50%"></video>
  </div>
  <div>
    <video src="http://www.pudiccgb.somee.com/Imagenes/VID-20210705-WA0020.mp4" controls width="50%" height="50%"></video>
  </div>
  <div>
    <video src="http://www.pudiccgb.somee.com/Imagenes/VID-20210705-WA0064.mp4" controls width="50%" height="50%"></video>
  </div>
  <div>
    <video src="http://www.pudiccgb.somee.com/Imagenes/VID-20210705-WA0068.mp4" controls width="50%" height="50%"></video>
  </div>
</div> -->
</div>