<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Pudicc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Début</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Contacto">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Acerca">À propos de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Registro">Devenir membre</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="Proyectos">Projets</a></li>
            <li><a class="dropdown-item" routerLink="Tipos" [ngStyle]="{'display':mostrar===true?'block':'none'}">Types</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
    </ul>


    <ul class="navbar-nav ms-auto" [style]="mostrarNombre">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{this.nombre}}
      </a>
      <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" routerLink="MiPerfil">Mon profil</a></li>
        <!-- <li><a class="dropdown-item" routerLink="Tipos">Tipos</a></li> -->
        <li><a class="dropdown-item" (click)="CerrarSesion();">Fermer la session</a></li>
      </ul>
    </li>
    </ul>


      <!-- <span class="navbar-text ms-auto" id="spanNombre" [style]="mostrarNombre">
        {{this.nombre}}
      </span> -->
      <span class="navbar-text ms-auto" id="spanIniciarSesion" [style]="mostrarBoton">
          <a class="nav-link" routerLink="Login">Commencer la session</a>
      </span>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-dark text-center text-white" style="margin-top:20%;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: Pudicc
  </div>
  <!-- Copyright -->
</footer>
