<div style="text-align:center; margin-top: 2%; color:green;" class="h1">Contact</div>
<div class="container">

    <img src="http://pudiccgb.somee.com/Imagenes/ContactoPudicc.png">

<p style="margin-top:2%;"><b>Adresse: </b>Route principale, Cornillon 1ère Plaine Céleste
    localité Ca-Elie, ruelle Cabaret # 22. </p>
<br>
    <p>
        <b>Téléphone:</b>
        <b>Tel local: </b>(509) 36037633/ (509) 36219126
        <br>
        <br>
        <b>Tel international: </b>(664) 2592995/ (514) 8345246/ (857) 7019836
        <br>
        <br>
        <b>E-mail: </b>cornillonpudiccgbc@gmail.com
        <br>
        <br>
        <b>E-mail: </b>caeliepudiccgb020@gmail.com
    </p>

</div>