<div class="container" style="font-family: arial; font-size:large;">

    <div class="row row-cols-1 row-cols-md-3 g-2">

        <div class="card w-50">
            <div class="card-body">
                <h1 class="card-title"><b>Dénomination</b></h1>
                <p class="card-text" style="text-align: justify;">
                    PUDICCGB, est la Plateforme Union pour le
                    Développement Intégral de la Commune de Cornillon
                    Grand-Bois (PUDICCGB), ayant pour devoir d’organiser
                    des activités sociales dans la commune pour le bien-être
                    de ses habitants
                </p>
            </div>
        </div>

        <div class="card w-50">
            <div class="card-body">
                <h1 class="card-title"><b>Mission</b></h1>
                <p class="card-text" style="text-align: justify;">
                    La Plateforme (PUDICCGB) va travailler en solidarité avec
                    toutes les couches vitales du pays, plus particulièrement
                    les organisations gouvernementales, non
                    gouvernementales (ONG) en vue de faire un faisceau vers
                    la conquête du développement de la commune de
                    Cornillon Grand-Bois pour le bien-être de tous.
                </p>
            </div>
        </div>

        <div class="card w-50">
            <div class="card-body">
                <h1 class="card-title"><b>Vision</b></h1>
                <p class="card-text" style="text-align: justify;">
                    La Plateforme (PUDICCGB) est consciente que la
                    commune de Cornillon Grand-Bois est abandonnée
                    depuis sa création, la vision de la Plateforme
                    (PUDICCGB), est d’intégrer les gens de la communauté
                    dans des activités communautaires dans lesquelles des
                    programmes sociaux seront organisés dans le but
                    d’assurer une nouvelle condition de vie.
                </p>
            </div>
        </div>

        <div class="card w-50">
            <div class="card-body">
                <h1 class="card-title"><b>Valeurs de (PUDICCGB)</b></h1>
                <p class="card-text" style="text-align: justify;">
                    La Plateforme (PUDICCGB) défend les principes, la
                    discipline, l’honnêteté, l’intégrité, la solidarité, la liberté,
                    l’égalité, laïcité et le respect de tous.
                </p>
            </div>
        </div>

        <div class="card w-50">
            <div class="card-body">
                <h1 class="card-title"><b>Objectifs</b></h1>
                <p class="card-text" style="text-align: justify;">
                    Organiser des activités sociales grâce à la canalisation
                    des ressources financières et développer des activités
                    productives et soutenables dans les zones pour le bienêtre de la présente et future génération de la
                    commune et
                    ses alentours
                </p>
            </div>
        </div>

    </div>

    <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Règlements internes</div>

    <p class="alert alert-primary" style="margin-top:2%;">
        <b>a)</b> Le respect mutuel est la primauté de la Plateforme
        (PUDICCGB).
    </p>
    <p class="alert alert-primary">
        <b>b)</b> Pour être membre du comité directoire de la
        Plateforme (PUDICCGB), il ne faut pas être
        responsable actuel d’une autre organisation à titre
        tel que de : président (e), vice-président (e),
        secrétaire général (e), trésorier (e).

    </p>

    <p class="alert alert-primary">
        <b>c)</b> La renonciation d’une position occupée doit être
        effectuée par une lettre adressée au président (e)
        du Tribunal Disciplinaire.

    </p>

    <p class="alert alert-primary">
        <b>d)</b> Le/a président (e) du Tribunal disciplinaire doit
        contacter le/a président (e) de la Direction
        Nationale lorsqu’il reçoit une demande de
        renonciation d’un membre.


    </p>

    <p class="alert alert-primary">
        <b>e)</b> Seul le/a président (e) de la Direction Nationale a le
        droit de proposer un (e) candidat (e) lors de la
        renonciation d’un membre.

    </p>

    <p class="alert alert-primary">
        <b>f)</b> La proposition du/de la président (e) de la Direction
        Nationale sera acceptée sous la moitié plus un
        (1/2+1) du nombre des votants et votantes.

    </p>

    <p class="alert alert-primary">
        <b>g)</b> Les conflits personnels sont interdits de mentionner
        sous aucune forme au sein des comités directoires
        de la Plateforme (PUDICCGB).

    </p>

    <p class="alert alert-primary">
        <b>h)</b> Tout membre soupçonné d’avoir planifié ou
        participé à des complots visant à salir l’image de la
        Plateforme (PUDICCGB) et qui peuvent provoquer
        sa destruction, sera convoqué par le comité de la
        Direction Nationale et du Tribunal Disciplinaire.

    </p>

    <p class="alert alert-primary">
        <b>i)</b> Si les preuves sont bien fondées après la
        convocation, le concerné sera révoqué de son
        poste. S’il s’agit d’un simple membre, il ne fera plus
        partie de la Plateforme (PUDICCGB).

    </p>

    <p class="alert alert-primary">
        <b>j)</b> Tous membres qui endettent au plus de trois
        cotisations ne peuvent voter s'ils ne les acquittent
        48 heures précédant à la votation.

    </p>

    <p class="alert alert-primary">
        <b>k)</b> Les biens, tel que : le matériel informatique, les
        documents électroniques, les équipements mobiles
        et immobiles qui sont la propriété de la Plateforme
        (PUDICCGB) sont interdits de partage sous toutes
        formes que ce soient. Et sont interdits de
        reproduction tel que : les données informatiques et
        autres.
        documents de voyages, et autres, pourraient être
        demandées en cas de doute pour prouver
        l’innocence de ce dernier.

    </p>

    <p class="alert alert-primary">
        <b>l)</b> Avoir 18 ans accomplis et ils doivent être en
        conditions d’exercer leur droit civil.

    </p>


    <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Devenir membre</div>



    <p class="alert alert-success" style="margin-top:2%;">
        <b>a)</b> Une carte d’identité, # Nif ou CIN.
    </p>
    <p class="alert alert-success">
        <b>b)</b> Un numéro de cellulaire à titre personnel

    </p>

    <p class="alert alert-success">
        <b>c)</b> Deux photos (2x2).

    </p>

    <p class="alert alert-success">
        <b>d)</b> Payer un frais de 100 gourdes.


    </p>

    <p class="alert alert-success">
        <b>e)</b> Payer une cotisation mensuelle de 100 gourdes


    </p>

    <p class="alert alert-success">
        <b>f)</b> Ne pas avoir été condamné, ou être en état de
        condamnation à purger une peine afflictive ou
        infamante ou être en liberté conditionnelle.

    </p>

    <p class="alert alert-success">
        <b>g)</b> L Ne pas avoir été membre d’un groupe de rebelle,
        terroriste, guérilla, ou toute autre groupe ne
        répondant pas aux lois, normes, conventions,
        nationales et internationales.

    </p>

    <p class="alert alert-success">
        <b>h)</b> Des pièces justificatives tel que casier judicaires,

    </p>

    <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Les Membres fondateurs de (PUDICCGB)</div>

    <p style="text-align: justify;">Abel Eliassaint, Abelard Eliassaint, Aldor Cenafils, Altine Williames, Anel Menard, Ange Mona Eliassaint, Bergenitte Juin, Camitha Camy, Christiandieu Pierre, Dieuliphete Metor, Dieuseul Méca, Duma Vilma, Eliza Macé, 
      François Joseph, 
      Fresnel Massé, 
      Hyguens Morvan, 
      Leclerc Sillon, 
      Luckson Calixte,
      Marcelin Eliassaint, 
      Maxcène Amilcar, 
      Michel Massé, 
      Natacha Cathil, 
      Obre Eliassaint, 
      Occila D. Cenat Fils, 
      Otanesse Calixte, 
      Robenson Méca, 
      Saint Pierre Vilmas, 
      Sony val, 
      Yvon Marcelus, 
      Waking Dujon, 
      Wenderson Méca, 
      Wilfrid Ramil, 
      Wilson Méca.</p>

    <!-- <ul id="lista" type="none" style="text-align: center;">
        <li>Abel Eliassaint</li>
        <li>Abelard Eliassaint</li>
        <li>Aldor Cenafils</li>
        <li>Altine Williames</li>
        <li>Anel Menard</li>
        <li>Ange Mona Eliassaint</li>
        <li>Bergenitte Juin</li>
        <li>Camitha Camy</li>
        <li>Christiandieu Pierre</li>
        <li>Dieuliphete Metor</li>
        <li>Dieuseul Méca</li>
        <li>Duma Vilma</li>
        <li>Eliza Macé</li>
        <li>François Joseph</li>
        <li>Fresnel Massé</li>
        <li>Hyguens Morvan</li>
        <li>Leclerc Sillon</li>
        <li>Luckson Calixte</li>
        <li>Marcelin Eliassaint</li>
        <li>Maxcène Amilcar</li>
        <li>Michel Massé</li>
        <li>Natacha Cathil</li>
        <li>Obre Eliassaint</li>
        <li>Occila D. Cenat Fils</li>
        <li>Otanesse Calixte</li>
        <li>Robenson Méca</li>
        <li>Saint Pierre Vilmas</li>
        <li>Sony val</li>
        <li>Yvon Marcelus</li>
        <li>Waking Dujon</li>
        <li>Wenderson Méca</li>
        <li>Wilfrid Ramil</li>
        <li>Wilson Méca</li>
    </ul> -->



    <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Comités directoires de (PUDICCGB)</div>
    
    <div style="text-align: center; font-family:arial; font-size: x-large; margin-top:2%;">
        <b>Les membres composant de la Direction Nationale (DN)</b>
    </div>


    <table class="table table-striped table-hover table-bordered table-info" style="font-family: arial; font-size:x-large; margin-top:2%;">
        <thead>
          <tr>
            <th scope="col">Chapitre 2 Prénom et nom</th>
            <th scope="col">Chapitre 3 Fonction</th>
            <th scope="col">Chapitre 4 CIN/ NIF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chapitre 5 Obre Eliassaint</td>
            <td>Chapitre 6 Président</td>
            <td>Chapitre 7 0046133171</td>
          </tr>
          <tr>
            <td>Chapitre 8 Anel Menard</td>
            <td>Chapitre 9 Vice-Président</td>
            <td>Chapitre 10 0097745834</td>
          </tr>
          <tr>
            <td>Chapitre 11 Duma Vilma</td>
            <td>Chapitre 12 Secrétaire Général</td>
            <td>Chapitre 13 01139919820300028</td>
          </tr>
          <tr>
            <td>Chapitre 14 Fresnel Massé</td>
            <td>Chapitre 15 Secrétaire Adjoint</td>
            <td>Chapitre 16 0050053620</td>
          </tr>
          <tr>
            <td>Chapitre 17 Ange Mona Eliassaint</td>
            <td>Chapitre 18 Trésorière</td>
            <td>Chapitre 19 01139919840100070</td>
          </tr>
          <tr>
            <td>Chapitre 20 Dieuseul Méca</td>
            <td>Chapitre 21 Porte-parole</td>
            <td>Chapitre 22 0079652476</td>
          </tr>
          <tr>
            <td>Chapitre 23 Eliza Macé</td>
            <td>Chapitre 24 Porte-parole Adjointe</td>
            <td>Chapitre 25 0073860587</td>
          </tr>
          <tr>
            <td>Chapitre 26 Luckson Calixte</td>
            <td>Chapitre 27 Modérateur</td>
            <td>Chapitre 28 0034457598</td>
          </tr>
          <tr>
            <td>Chapitre 29 Natacha Cathil</td>
            <td>Chapitre 30 Modératrice</td>
            <td>Chapitre 31 01119919940600026</td>
          </tr>
          <tr>
            <td>Chapitre 32 Wenderson Méca</td>
            <td>Chapitre 33 Délégué</td>
            <td>Chapitre 34 0049262280</td>
          </tr>
          <tr>
            <td>Chapitre 35 Christandieu Pierre</td>
            <td>Chapitre 36 Délégué</td>
            <td>Chapitre 37 0048838955</td>
          </tr>
          <tr>
            <td>Chapitre 38 Wilson Méca</td>
            <td>Chapitre 39 Délégué</td>
            <td>Chapitre 40 0055797398</td>
          </tr>
          <tr>
            <td>Chapitre 41 Occila D. Cénat Fils</td>
            <td>Chapitre 42 Conseiller</td>
            <td>Chapitre 43 0037104404</td>
          </tr>
          <tr>
            <td>Chapitre 44 Hyguens Morvan</td>
            <td>Chapitre 45 Conseiller</td>
            <td>Chapitre 46 0048302903</td>
          </tr>
          <tr>
            <td>CChapitre 47 Abelard Eliassaint</td>
            <td>Chapitre 48 Coordonnateur</td>
            <td>Chapitre 49 0097725247</td>
          </tr>
        </tbody>
      </table>


      <div style="text-align: center; font-family:arial; font-size: x-large; margin-top:2%;">
        <b>Les membres composant du Tribunal Disciplinaire (TD)
        </b>
    </div>


    <table class="table table-striped table-hover table-bordered table-warning" style="font-family: arial; font-size:x-large; margin-top:2%;">
        <thead>
          <tr>
            <th scope="col">Chapitre 50 Prénom et nom</th>
            <th scope="col">Chapitre 51 Fonction</th>
            <th scope="col">Chapitre 52 CIN/NIF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chapitre 53 Jn Tony Macé</td>
            <td>Chapitre 54 Président</td>
            <td>Chapitre 55 0079758082</td>
          </tr>
          <tr>
            <td>Chapitre 56 Robenson Méca</td>
            <td>Chapitre 57 Secrétaire Général</td>
            <td>Chapitre 58 0049685312</td>
          </tr>
          <tr>
            <td>Chapitre 59 Otanesse Calixte</td>
            <td>Chapitre 60 Secrétaire Adjoint</td>
            <td>Chapitre 61 0055651402</td>
          </tr>
          <tr>
            <td>Chapitre 62 Abel Eliassaint</td>
            <td>Chapitre 63 Conseiller</td>
            <td>Chapitre 64 0086496971</td>
          </tr>
          <tr>
            <td>Chapitre 65 Yvon Marcelus</td>
            <td>Chapitre 66 Conseiller</td>
            <td>Chapitre 67 0055785503</td>
          </tr>
        </tbody>
      </table>


      <div style="text-align:center; margin-top: 10%; color:green;" class="h1">Activités á court et á moyen terme</div>


      <ul>
        <li class="alert alert-danger">Programmes de resencement pour les enfants illettrés (es).</li>
        <li class="alert alert-danger">Supports aux enfants illettrés (es) pour la reception du pain de l’instruction.</li>
        <li class="alert alert-danger">Seminaires de Formation sur l’éducation civique.</li>
        <li class="alert alert-danger">Programmes de reforestation.</li>
        <li class="alert alert-danger">Programme culturels pour les jeunes.</li>
        <li class="alert alert-danger">Programmes concernant le developpement de la commune.</li>
        <li class="alert alert-danger">Elaboration de projets pour le bien de la communauté.</li>
        <li class="alert alert-danger">Suppots aux jeunes interessées aux sports.</li>
      </ul>





</div>